.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}
.heading {
  color: rebeccapurple;
}
.nav_links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav_link_item {
  padding-right: 2rem;
}
.nav_link_text {
  color: black;
}
